{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">

        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <form action="/add" method="post">
                        <div class="form-group">
                            <input class="form-control" type="text" name="name" placeholder="Title" required>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="year" placeholder="Año" required>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="gender" placeholder="Género" required>
                        </div>
                        <button class="btn btn-primary" type="submit">
                            Añadir
                        </button>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Año</th>
                    <th>Género</th>
                </tr>
                </thead>
                <tbody>
                {% for movie in movies %}
                <tr>
                    <td>{{ movie.id }}</td>
                    <td><strong>{{ movie.name }}</strong></td>
                    <td>{{ movie.year }}</td>
                    <td>{{ movie.gender }}</td>
                    <td>
                        
                        <a class="btn btn-danger"
                           href="/delete/{{ movie.id }}">
                            Borrar
                        </a>
                        <a class="btn btn-info"
                           href="/update/{{ movie.id }}">
                            Editar
                        </a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>

    </div>
</div>

{% endblock %}





