{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">

        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <form action="/update/{{ movie.id }}" method="post">
                        <div class="form-group">
                            <input class="form-control" type="text" name="name" placeholder="Nombre" value="{{ movie.name }}" required>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="year" placeholder="Año" value="{{ movie.year }}" required>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="gender" placeholder="Género" value="{{ movie.gender }}" required>
                        </div>
                        <button class="btn btn-primary" type="submit">
                            Modificar
                        </button>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}





